@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
    --primary-color: #2a2a72;
    --background-color: #f4f4f9;
    --text-color: #333;
    --button-bg-color: #f8f8f8;
    --button-hover-color: #e2e2e2;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.container {
    display: flex;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}

aside.sidebar, main.content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

aside.sidebar {
    width: 250px;
}

main.content {
    flex-grow: 1;
    overflow: auto;
}

header {
    color: var(--primary-color);
    margin-bottom: 20px;
}

#searchBar {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

#searchBar:focus {
    border-color: #0056b3;
    box-shadow: 0 0 8px rgba(0,86,179,0.2);
}

.listing img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.sidebar button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: var(--button-bg-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.sidebar button:hover, .sidebar button:focus {
    background-color: var(--button-hover-color);
    box-shadow: 0 2px 4px rgba(0,0,0,0.15);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
    z-index: 1000; /* Ensures it stays on top */
    transition: opacity 0.3s ease-in-out;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    transition: transform 0.3s ease-out;
    transform: translateY(-30px); /* This makes the popup appear to slide up */
}

.popup-content h3 {
    color: var(--primary-color);
    margin-top: 0;
}

.popup-content p {
    color: var(--text-color);
    font-size: 1.1em; /* Slightly larger text for readability */
}

.close {
    float: right;
    font-size: 1.5em;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--primary-color);
}

.close:hover {
    color: #f00;
}

/* This style will apply when the popup is displayed */
.popup[hidden] {
    display: none;
}
